on boot
    # Display
    chown system system /sys/kernel/oplus_display/pwm_onepulse
    chmod 0666 /sys/kernel/oplus_display/pwm_onepulse
    chown system system /sys/kernel/oplus_display/hbm_max
    chmod 0664 /sys/kernel/oplus_display/hbm_max
